/* Optional: Makes the sample page fill the window. */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav-wrapper {
	/*background: rgba(250, 128, 114, 0.2);*/
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	color: white;
}

.topbar, .toolbar {
	/*background: rgba(250, 128, 114, 0.2);*/
	background-color: rgba(84, 110, 122, 0.75)!important;
	width: 100%;
	position: absolute;
	z-index: 2;
	opacity: 1;
	transition: 0.3s linear opacity;
}

.toolbar {
	bottom: 0;
	overflow: hidden;
}

#login-options{
	position: absolute;
	bottom: 60px;
	left: 10px;
	z-index: 999999999;
	display: none;
}

#login-options div{
	color: white;
	padding: 4px 10px;
	cursor: pointer;
}
#login-options div:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

/* logged in items */
#avatar{
	display: none;
	height: 65px;
	padding: 9px;
}
#settings-button, #logout-button{
	display: none;
}

.brand-logo{
	text-shadow: 1px 1px 3px #383f42;
}

#settings-options{
	position: absolute;
	bottom: 60px;
	left: 50px;
	z-index: 999999999;
	padding: 14px;
	display: none;
}

#settings-options label{
	display: block;
	color: white;
	font-size: 1rem;
}

#settings-options input[type="submit"]{
	display: block;
	color: white;
	background: none;
	border: 2px solid white;
	border-radius: 4px;
	margin: 10px auto 0;
	transition: 0.2s linear all;
}
#settings-options input[type="submit"]:hover{
	color: #383f42;
	background: white;
}

/*nav ul a {
	color: red;
}*/

#map {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: visible;
}

#widget-bar {
	right: 10px;
	top: 70px;
	width: 350px;
	height: calc(100vh - 140px);
	margin-bottom: 25px;
	position: absolute;
	z-index: 3;
	overflow: scroll;
}

#widget-bar::-webkit-scrollbar {
	width: 0px;
}

#widget-bar::-webkit-scrollbar-track-piece {
	background-color: transparent;
	-webkit-border-radius: 6px;
}

.blue-ish{
	background-color: rgba(84, 110, 122, 0.75);
}

.card.blue-ish.darken-1 {
	transition: 0.2s linear background-color; 
}

.card.blue-ish.darken-1:hover {
	background-color: rgba(84, 110, 122, 0.45);
}

/* map tweaks */
#map div div.gm-style:nth-child(1) div:nth-child(7),
#map div div.gm-style:nth-child(1) div:nth-child(8){
	-display: none; !important;
	top: 0px;
}
div.gm-style div.gmnoprint:nth-child(9){
	left: 0px !important;
	bottom: 157px !important;
}
div.gm-style div.gmnoprint:nth-child(11){
	top: 63px !important;
}

/* streetview */ 
#map div div.gm-style:nth-child(2) div:nth-child(7){
	display: none !important;
}
#map div div.gm-style:nth-child(2) div:nth-child(8){
	left: 0px !important;
	bottom: 119px !important;
}
#map div div.gm-style:nth-child(2) div:nth-child(9), 
#map div div.gm-style:nth-child(2) div:nth-child(10){
	top: 63px !important;
}
div.gm-style div div.gm-iv-address{
	height: auto !important;
}